/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/Roboto/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/Roboto/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/Roboto/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/Roboto/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Roboto/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }

:root {
    font-size: 10px;
}

body {
    background-color: #ebeff7;
    font-family: Roboto;
    font-size: 1.2rem;
    color: #68697b;
    font-weight: 400;
    text-align: center;
}

.container {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 2.2rem 3.5rem;
    background-color: #ebeff7;
}

.sidebar {
    width: 40rem;
    float: left;
    display: block;
    margin: 2rem;
}

.sidebar_header__mobile {
    display: none;
}

.sidebar_item {
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(19, 33, 66, 0.07);
    background-color: #fbfcff;
}

.styles_filter .sidebar_item__header {
    padding: 2.2rem 2.1rem 2.4rem 2.1rem;
    text-align: left;
    position: relative;
}

.hide_button {
    border-style: solid;
    border-color:  #aaabbc;
    border-width: 0.4rem 0.4rem 0 0;
    display: inline-block;
    height: 1.3rem;
    right: 2.5rem;
    position: absolute;
    top: 3.4rem;
    transform: rotate(-44deg);
    vertical-align: top;
    width: 1.3rem;
    border-radius: 0.3rem;
}

.styles-previews_container {
    height: 53rem;
    overflow: hidden;
    transition-duration: 0.5s;
}

.styles-preview {
    display: inline-block;
    width: 18rem;
    margin-bottom: 0.8rem;
    text-align: left;
    position: relative;
}

.styles-preview_image {
    display: inline-block;
    width: 100%;
    object-fit: contain;
    z-index: 1;
}

.styles-preview_image--transparent {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(251, 252, 255, 0.9) 31%, #fbfcff 60%);
}

.styles-preview_title {
    font-size: 1.6rem;
    line-height: 2.8rem;
    position: relative;
}

/* Checkbox styles */

.styles_checkbox,
.sidebar_item_row_checkbox {
    opacity: 0;
    width: 0;
}

.styles_checkbox + .styles-preview_title,
.sidebar_item_row_checkbox + .sidebar_item_row_label {
    cursor: pointer;
    position: relative;
}

.styles_checkbox + .styles-preview_title::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: #ffffff;
    border: #aaabbc 1px solid;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 4rem;
    left: 0.7rem;
    z-index: 13;
}

.sidebar_item_row_checkbox + .sidebar_item_row_label::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #ffffff;
    border: #102542 1px solid;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0rem;
    left: -2rem;
    z-index: 13;
}

.styles_checkbox:checked + .styles-preview_title::before {
    background: #0c243e;
    border: none;
    z-index: 11;
}

.sidebar_item_row_checkbox:checked + .sidebar_item_row_label::before {
    z-index: 11;
}

.styles-preview_title::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 1.4rem;
    bottom: 5.1rem;
    width: 0.9rem;
    height: 0.5rem;
    transform: rotate(135deg);
    border-width: 0.2rem 0.2rem 0 0;
    border-style: solid;
    border-color: #ffffff;
    z-index: 12;
}

.sidebar_item_row_label::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1.6rem;
    bottom: 0.7rem;
    width: 0.8rem;
    height: 0.5rem;
    transform: rotate(135deg);
    border-width: 0.2rem 0.2rem 0 0;
    border-style: solid;
    border-color: #102542;
    z-index: 12;
}

.styles-checkbox + .styles-preview_title::after {
    opacity: 0;
}

.styles-preview_image ~ .styles-checkbox:checked {
    border: 1px #0c243e solid;
    border-radius: 0.5rem;
}

/* Checkbox styles - end */

.styles_submit__button {
    width: 35rem;
    border: none;
    position: relative;
    bottom: 2.1rem;
    border-radius: 0.3rem;
    background-color: #636471;
    height: 4rem;
    z-index: 5;
    font-family: Roboto;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
}

.styles_submit__button:hover {
    box-shadow: 2px 3px 5px #aaabbc;
}

/* Draggable  filter */

.price_filter {
    font-family: 'Roboto';
    font-weight: 500;
    text-align: left;
    padding: 1.8rem 2.2rem;
    margin-top: 3rem;
    padding-bottom: 0.6rem;
}

.sidebar_item__title {
    font-size: 2.5rem;
    display: inline-block;
    color: #102542;
}

.sidebar_item_cost_wrapper {
    margin-top: 2.5rem;
    display: inline-block;
    width: 100%;
}

.sidebar_item_cost_item {
    display: inline-block;
    vertical-align: top;
}

.sidebar_item_cost_item:nth-child(1) {
    margin-right: 1.9rem;
}

.sidebar_item_cost_item_title {
    font-size: 1.6rem;
    line-height: 5.6rem;
    display: inline-block;
    vertical-align: top;
}

.sidebar_item_cost_item_input {
    display: inline-block;
    vertical-align: top;
    border: none;
    font-size: 1.8rem;
    margin-left: 0.7rem;
    height: 5.2rem;
    width: 8rem;
    padding: 0.8rem;
    border-bottom: 0.5rem solid #ccc;
    border-radius: 3px;
    background-color: #ebeff7;
}

.sidebar_item_cost_btn {
    display: inline-block;
    vertical-align: top;
    margin-left: 2.2rem;
    width: 5.05rem;
    height: 4.6rem;
    border: none;
    background: #636471;
    color: #fff;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.sidebar_item_cost_btn:hover {
    box-shadow: 2px 3px 5px #aaabbc;
}
    

.sidebar_item_cost_drag_wrapper {
    display: inline-block;
    border-top: 1px solid #ccc;
    width: 100%;
    margin-top: 2rem;
    padding: 3.4rem 0rem;
}

.sidebar_item_cost_drag_area {
    width: 90%;
    position: relative;
    height: 1rem;
    background-color: #aaabbc;
}

.sidebar_item_cost_drag_item {
    width: 4.5rem;
    position: absolute;
    cursor: pointer;
    height: 4.5rem;
    top: -1.75rem;
    border-radius: 20.5px;
    box-shadow: 0 1px 3px 0 rgba(12, 36, 62, 0.2);
    background-color: #f1f3f7;
}

.sidebar_item_cost_drag_item--icon {
    width: 2rem;
    opacity: 0.5;
    left: 1.1rem;
    position: absolute;
    top: 1.1rem;
}

/* dragable fiter - end */

/* Colors filter */

.colors_filter {
    text-align: left;
    padding: 2.2rem 2.3rem;
    margin-top: 3rem;
}

.sidebar_item__header {
    font-weight: 500;
    display: inline-block;
    padding-bottom: 1.6rem;
    width: 100%;
    position: relative;
}

.colors_filter .sidebar_item__header {
    border-bottom: 1px solid #ccc;
}

.colors_filter__tooltip {
    background-image: url(../images/information-button.svg);
    background-size: contain;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 15rem;
    opacity: 0.3;
}

.colors_filter .hide_button {
    right: 0.5rem;
    top: 0.4rem;
}

.sidebar_item_row:nth-child(2) {
    margin-top: 2.6rem;
}

.sidebar_item_row_label {
    font-size: 1.6rem;
    padding-top: 0.4rem;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: top;
    color: #636471;
}

.sidebar_item_row input {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
}

.sidebar_item_row {
    display: inline-block;
    margin-bottom: 1.7rem;
    width: 100%;
}

.sidebar_item_row_text {
    float: right;
    font-size: 1.8rem;
    color: #102542;
}

.sidebar_item_color_btn{
    color: #fff;
    border: none;
    height: 4rem;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
    background-color: #636471;
    font-size: 1.8rem;
}

.sidebar_item_color_btn:hover {
    box-shadow: 2px 3px 5px #aaabbc;
}


/* Colors filter - end */

/* Reviews */

.reviews_section {
    margin-top: 3rem;
    padding: 1.7rem 2rem;
    text-align: left;
}

/* Reviews - end */

.products_container {
    width: calc(100% - 53rem);
    display: block;
    float: right;
    margin: 0 2.8rem;
}

.searchbar {
    margin: 2rem 0 0 0;
    text-align: left;
}

.searchbar_textarea::-webkit-search-decoration,
.searchbar_textarea::-webkit-search-cancel-button,
.searchbar_textarea::-webkit-search-results-button,
.searchbar_textarea::-webkit-search-results-decoration {
  display: none;
}

.reviews_section__wrapper {
    margin-top: 2rem;
}

.reviews_icon {
    width: 3.3rem;
}

.searchbar_textarea {
    width: calc(100% - 5.3rem);
    height: 5.3rem;
    border-radius: 0.2rem;
    border: solid 1px #9bb3e4;
    background-color: #ffffff;
    padding: 0 3rem;
    font-size: 2.6rem;
    font-family: Helvetica;
    color: #68697b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.searchbar_textarea::placeholder {
    color: #b6b8cd;
}

.searchbar_button {
    position: absolute;
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 0.2rem;
    border: solid 1px #9bb3e4;
    background-color: #ededed;
}

.searchbar_button__icon {
    width: 2.1rem;
}

.products-previews_header__wrapper {
    text-align: left;
    padding: 3rem 0 3rem 0.4rem;
}

.products-previews_header {
    color: #102542;
    font-size: 3.8rem;
    font-weight: 500;
}

.products-previews_quantity {
    font-size: 1.8rem;
    vertical-align: super;
    padding: 0 0 0 1rem;
}

.product_preview {
    text-align: left;
    width: 30rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 0 2px 8px 0 rgba(19, 33, 66, 0.07);
}

.product_preview__image {
    display: block;
    width: 100%;
}

.product_preview_content__wrapper {
    padding: 2.2rem 1.8rem;
}

.product_name {
    color: #102542;
    font-size: 2rem;
    height: 5rem;
    display: inline-block;
}

.reviews_wrapper {
    padding: 0.4rem 0 0 0;
}

.rewievs_amount {
    color: #0c243e;
    font-size: 1.4rem;
    bottom: 0.2rem;
    position: relative;
}

.shipping-offer_wrapper {
    padding: 2rem 0 1.7rem 0;
    position: relative;
}

.shipping-offer_icon {
    width: 1.5rem;
    opacity: 0.7;
    position: absolute;
}

.shipping-offer_text {
    color: #68697b;
    font-size: 1.5rem;
    padding-left: 2.4rem;
}

.product_price {
    color: #fe5f55;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    left: 1rem;
}

.product_price::before {
    content: '$';
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left: -1rem;
}

.product_price_top {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
}

.options_wrapper {
    position: relative;
    padding: 1.4rem 0 1rem;
}

.options_text {
    color: #636471;
    font-size: 1.8rem;
}

.options__icon {
    position: absolute;
    top: 2.5rem;
    right: 0;
    width: 1.3rem;
}

.show-filter-menu_button {
    display: none;
}

@media screen and (max-width: 1920px) {
    :root {
        font-size: 0.52vw;
    }


}

@media screen and (max-width: 768px) {
    :root {
        font-size: 10px;
    }

    .products_container,
    .sidebar {
        width: 100%;
        margin: 0;
        float: none;
    }

    .container {
        padding: 2rem;
    }

    .styles-preview {
        display: inline-block;
        width: 48%;
        margin-bottom: 0.8rem;
        text-align: left;
        position: relative;
    }

    .styles_submit__button {
        width: 92%;
    }

    .product_preview {
        width: 100%;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .product_preview__image {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        float: left;
        object-fit: cover;
        height: 35rem;
    }

    .product_preview_content__wrapper {
        float: right;
        width: 50%;
    }

    .styles_checkbox + .styles-preview_title::before {
        bottom: 5rem;
        left: 1.7rem;
    }
    .styles-preview_title::after {
        left: 2.4rem;
        bottom: 6.1rem;
    }
}

@media screen and (max-width: 575px) {

    :root {
        font-size: 6px;
    }

    .container {
        padding: 2rem;
    }

    .sidebar {
        display: none;
        top: 10rem;
        position: relative;
    }

    .sidebar_header__mobile {
        display: block;
        width: 100vw;
        height: 9rem;
        text-align: left;
        position: fixed;
        top: 0;
        left: 0;
        background: #ffffff;
        margin: 0 0 2rem 0;
        padding: 3rem 2rem;
        box-shadow: 0 3px 10px 0 rgba(19, 33, 66, 0.16);
        z-index: 1000;
    }

    .sidebar_header--text {
        font-size: 3rem;
        color: #102542;
    }

    .sidebar_header--close-button {
        font-size: 5rem;
        transform: rotate(45deg);
        position: absolute;
        right: 3rem;
        top: 2rem;
        color: #102542;
        font-family: Arial;
    }

    .sidebar_item {
        z-index: 1;
    }

    .show-filter-menu_button {
        position: absolute;
        display: block;
        width: 10rem;
        height: 4.6rem;
        border: none;
        top: 2.6rem;
        right: 2rem;
        background-color: #fe5f55;
        color: #ffffff;
    }

    .products-previews_header__wrapper {
        margin: 2rem 0;
        background-color: #ffffff;
        width: 100vw;
        position: relative;
        left: -2rem;
        padding: 3rem 0 3rem 2.4rem;
    }

    .products_container { 
        width: 100%;
        float: none;
    }

    .product_preview {
        width: 100%;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .product_preview__image {
        width: 50%;
    }

    .product_preview_content__wrapper {
        float: right;
        width: 50%;
    }

}

@media screen and (max-width: 327px) {
    :root {
        font-size: 4px;
    }
}